@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital@1&display=swap');
body {
    opacity: 0.9;
    background-color: darkgrey;
    background-image: url("https://images.pexels.com/photos/533669/pexels-photo-533669.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
}

.first{
    width: 40%;
}

.second{
    width: 40%;    
}

.space {
    margin: 10px;
}

h1,
p,
label {
    font-family: 'Lobster Two', cursive;
    font-weight: lighter;
}

#addButton {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

#resetButton {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.container {
    float: left;
    margin:  3%;
    padding: 20px;
    background-color: ghostwhite;
    border-radius: 5%;
    text-align: center;
}

.list-box ul li {
    margin: 1em auto;
    z-index: -1;
}

.list-of-plates {
    padding: 20px;
}

.list-of-plates li {
    margin: 5px;
    padding: 10px;
    height: 20px;
    width: 100px;
    background-color: yellow;
    text-align: center;
    border: black 2px solid;
    border-radius: 5%;
    list-style: none;
    font-weight: bold;
}


/* Media Queries */

@media only screen and (max-width: 375px) {
    .small-input {
        width: 100px;
    }
  .inputBoxOne{
      width: 90%;
  }
  .container{
      width:80%;
  }
}

@media only screen and (max-width: 667px) {
    .small-input {
        width: 100px;
    }
  .inputBoxOne{
      width: 90%;
  }
  .container{
      width:85%;
  }
}
